img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffdc5e;
  padding: 20px;
  border-radius: 10px;
  color: #333;
}
